language: r
cache: packages

r:
  - oldrel
  - release
  - devel

notifications:
  email:
    recipients:
     - alerts+james.a.murtha@gmail.com
     on_success: change
     on_failure: change

#safelist
branches:
  only:
  - master
  - stable